Repository Armor-test/analytics-handler-483, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-performance, @Armor-test/grp-storage, @Armor-test/squad-research, @Armor-test/team-governance, @Armor-test/grp-payments, @Armor-test/squad-payments, @Armor-test/dept-api, @Armor-test/team-security, @Armor-test/team-notifications, @Armor-test/dept-identity, @Armor-test/unit-cloud, @Armor-test/unit-test, @Armor-test/grp-integration, @Armor-test/squad-ml, @Armor-test/grp-search, @Armor-test/squad-database, @Armor-test/grp-ui, @Armor-test/squad-tooling, @Armor-test/dept-automation, @Armor-test/dept-security, @Armor-test/team-reporting, @Armor-test/team-core, @Armor-test/dept-data, @Armor-test/squad-product, @Armor-test/dept-reliability, @Armor-test/team-logging, @Armor-test/squad-ux, @Armor-test/unit-devops, @Armor-test/squad-search, @Armor-test/dept-reporting, @Armor-test/dept-logging, @Armor-test/squad-reporting, @Armor-test/grp-api, @Armor-test/dept-ui, @Armor-test/squad-api, @Armor-test/squad-cache, @Armor-test/squad-cloud, @Armor-test/team-frontend, @Armor-test/dept-billing, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/infra

.github/CODEOWNERS:

# CODEOWNERS file for analytics-handler-483
# Global owners - will be requested for all PRs
* @Armor-test/squad-performance @Armor-test/grp-storage @Armor-test/squad-research

# Directory ownership
/views/ @Armor-test/team-governance @Armor-test/grp-payments
/test/ @Armor-test/squad-performance @Armor-test/squad-payments @Armor-test/dept-api
/styles/ @Armor-test/team-security @Armor-test/team-notifications
/tests/ @Armor-test/dept-identity @Armor-test/unit-cloud @Armor-test/unit-test
/config/ @Armor-test/team-security @Armor-test/grp-integration
/models/ @Armor-test/grp-integration @Armor-test/squad-ml
/middleware/ @Armor-test/grp-search @Armor-test/squad-database
/utils/ @Armor-test/grp-ui @Armor-test/grp-integration @Armor-test/squad-tooling
/api/ @Armor-test/dept-automation @Armor-test/dept-security @Armor-test/team-reporting
/examples/ @Armor-test/team-core @Armor-test/dept-data @Armor-test/squad-product
/docs/ @Armor-test/dept-reliability @Armor-test/squad-database
/public/ @Armor-test/dept-reliability @Armor-test/squad-research @Armor-test/grp-storage
/src/ @Armor-test/team-logging @Armor-test/squad-ux @Armor-test/squad-tooling
/controllers/ @Armor-test/unit-devops @Armor-test/squad-search @Armor-test/squad-database
/extensions/ @Armor-test/dept-reporting @Armor-test/dept-logging

# File type ownership
*.kt @Armor-test/grp-payments @Armor-test/unit-cloud @Armor-test/team-core
*.html @Armor-test/squad-reporting @Armor-test/unit-test @Armor-test/grp-api
*.yaml @Armor-test/dept-ui @Armor-test/squad-search
*.c @Armor-test/dept-security @Armor-test/squad-api @Armor-test/grp-search
*.yml @Armor-test/squad-payments @Armor-test/grp-ui
*.cpp @Armor-test/team-reporting @Armor-test/squad-tooling @Armor-test/dept-ui
*.rs @Armor-test/squad-cache @Armor-test/squad-cloud @Armor-test/team-security
*.sql @Armor-test/team-frontend @Armor-test/dept-billing
*.swift @Armor-test/grp-storage @Armor-test/squad-cloud @Armor-test/team-security
*.h @Armor-test/team-reporting @Armor-test/grp-storage @Armor-test/unit-test

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security
Dockerfile @Armor-test/devops @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/team-logging, @Armor-test/squad-ux, @Armor-test/squad-tooling

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-reliability, @Armor-test/squad-database

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-performance, @Armor-test/squad-payments, @Armor-test/dept-api

Add src/main.py
  src/main.py
Owners: @Armor-test/team-logging, @Armor-test/squad-ux, @Armor-test/squad-tooling

Add src/index.js
  src/index.js
Owners: @Armor-test/team-logging, @Armor-test/squad-ux, @Armor-test/squad-tooling
